rendered
tmp
.idea
.terraform
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.pem

*.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
