aws_access_key="XXXXXXXXXXXX"
aws_secret_key="XXXXXXXXXXXX"
aws_key_pair="pre-prod"
ons_access_ips=[XXXXXXX, XXXXXXX]
certificate_arn="arn:aws:iam::XXXXXXX:server-certificate/NAME"
application_secret_key="you'll never guess it"
vpc_ip_block="10.30.20.0/24"
rabbitmq_ip_prime="XX.XX.XX.15"
rabbitmq_ip_failover="XX.XX.XX.16"
google_analytics_code="UA-56892037-7"
rabbitmq_ips.0="xx.xx.xx.15"
rabbitmq_ips.1="xx.xx.xx.16"
logserver_cidr="x.x.x.21/32"
audit_cidr="x.x.x.242/32"
sdx_cidr="x.x.x.0/32"
application_cidr="10.30.2X.0/26"
tools_cidr="10.30.2X.192/26"
waf_cidr="10.30.2X.64/26"
dev_mode="True"