aws_access_key="XXXXXXXXXXXX"
aws_secret_key = "XXXXXXXXXXXX"
application_cidrs=["10.30.20.48/28"]
ons_access_ips="XXXXXXX,XXXXXXX"
eb_min_size=1
eb_max_size=1
eb_instance_type="t2.medium"
elastic_beanstalk_iam_role="aws-elasticbeanstalk-ec2-role"
certificate_arn="arn:aws:iam::XXXXXXX:server-certificate/NAME"

# Environment variables
eq_log_level="DEBUG"
google_analytics_code=""
dev_mode="True"

rabbitmq_ip_prime="10.30.20.15"
rabbitmq_ip_failover="10.30.20.16"

dns_zone_id="XXXXXXX"
dns_zone_name="dev.eq.ons.digital"
