aws_access_key="XXXXXXXXXXXX"
aws_secret_key = "XXXXXXXXXXXX"
application_cidrs=["10.30.20.48/28", "10.30.20.64/28", "10.30.20.80/28"]
ons_access_ips="XXXXXXX,XXXXXXX"
eb_min_size=1
eb_max_size=1
eb_instance_type="t2.medium"
elastic_beanstalk_iam_role="aws-elasticbeanstalk-ec2-role"
certificate_arn="arn:aws:iam::XXXXXXX:server-certificate/NAME"

# Environment variables
application_secret_key="you'll never guess it"
eq_log_level="DEBUG"
google_analytics_code=""
dev_mode="True"

rabbitmq_ip_prime="10.30.20.15"
rabbitmq_ip_failover="10.30.20.16"
rabbitmq_admin_user="admin" # Admin username
rabbitmq_admin_password="test1" # Admin password
rabbitmq_write_user="writeonly" # "writeonly" username
rabbitmq_write_password="test2" # "writeonly" password
rabbitmq_read_user="readonly" # "readonly" username
rabbitmq_read_password="test3" # "readonly" password

dns_zone_id="XXXXXXX"
dns_zone_name="dev.eq.ons.digital"
