aws_access_key="xxxxxx"
aws_secret_key="xxxxxx"
aws_key_pair="xxxx"
ons_access_ips="0.0.0.0/0"
vpc_ip_block="10.0.0.0/24"
application_cidr="10.0.0.0/26"
database_1_cidr="10.0.0.64/26"
database_2_cidr="10.0.0.128/26"
dns_zone_id="xxxxxx"
dns_zone_name="dev.eq.ons.digital"
author_admin_username="admin"
author_admin_password="password"
author_admin_email="author@ons.gov.uk"
author_admin_firstname="Author"
author_admin_lastname="Admin"
rsyslogd_server_ip="10.172.x.x"
eq-schema-bucket-name="eq-schema-files-preprod"
